# User Testing Report

User testing was conducted by Nick Appolon on October 24th between the times of 3:30 and 4:30 with the following participants:

- Jessica Hay
- Kelsey Macmillan
- Stephanie Albert

## Tasks

1. Visit and read the article page called "Causes for the Pakistan earthquake revealed".
2. Visit and read the article page called "Japan earthquake shifts Earth's mass and moves it's axis.
3. Answer this question: how many centimetres did calculations show that Japan's earthquake shift the position of earth's figure axis by?

---

## Individual Results & Observations

### Jessica Hay

- She first clicked on the *Earthquakes 101* bucket instead of the *News* bucket in order do get linked to the articles, which was wrong. On her second attempt, she clicked on the *News* bucket which is the right one.
- She had no issue findind the information about the amount of centimetres that the earth shifted, after reading the whole "Japan Earthquake Shifts Earth's Mass and Moves it's Axis".
- She had no questions, except for general curiosity about my further website styling.

### Kelsey Macmillan

- She clicked on the *News* bucket in order to find both of the articles, which was the right thing to do and expected.
- She found the information about the amount of centimetres that the earth shifted, after reading the whole "Japan Earthquake Shifts Earth's Mass and Moves it's Axis". She found it much faster then I expected.
- She asked no questions and found everything on her own and faster then expected.

### Stephanie Albert

- She had to think about which homepage bucket to click for a little over 5 seconds in order to make it to my 2 articles. She clicked the proper one as expected.
- It took her around 25 seconds of reading the "Japan Earthquake Shifts Earth's Mass and Moves it's Axis" article in order to find the information about the amount of centimetres that the earth shifted.
- She made suggestions about increasing the leading for my body cody to make the readability easier

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- I need to style the buckets to make their functions more obvious.
- In need of a navigation, which is coming soon.

### Serious, Causes Frustration, May Hinder Completion

- Not much frustration was seen except for possibly not having a proper navigation yet, which all internet browsers are used to seeing

### Minor, Annoying, Won’t Hinder Completion

- Stephanie thought the article was too long too read, although she did find the information within the Japanese earchquake's article fairly quickly 