@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 110%;
	font-size: 100%;
	background-image:url(../img/background-white.jpg);
	background-repeat: repeat;
	background-attachment:fixed;
	background-size: 1300px 900px;
	margin: auto;
 }	
	
.billboard {
	background-image:url(../img/billboard.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: -5px;
	height: 114px;
	width: 400px;
}

.contentintro {
	color: black;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 400px;
	min-width: 400px;
}

.introseparator {
	position: relative;
    bottom: 0;
	top: 0px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: -3px;
	clear: both;
	max-width: 400px;
	min-width: 400px;	
}

.introseparatortop {
	position: relative;
    bottom: 0;
	top: 10px;
    width: 100%;
    height: 10px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: -3px;
	clear: both;
	max-width: 400px;
	min-width: 400px;
	margin-top: 10px;
}

.minwidth {
	min-width:0px;
	width: auto;
	width: 400px;
}

.minwidth2 {
	min-width:0px;
	width: auto;
	width: 400px;
}

.minwidth3 {
	min-width:0px;
	width: auto;
	width: 400px;
}

.minwidth4 {
	min-width:0px;
	width: auto;
	width: 400px;
}

.bucket1 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	float: left;
	background-image:url(../img/bucket-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.bucket2 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	float: left;
	margin-left: 70px;
	background-image:url(../img/bucket-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.bucket3 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	float: left;
	background-image:url(../img/bucket-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.bucket4 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	margin-left: 70px;
	float: left;
	margin-bottom: 20px;
	background-image:url(../img/bucket-4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.foot {
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 19px;
	color: black;
	font-size: 8px;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 0px;
	clear: both;
	max-width: 370px;
	background-image:url(../img/background-white.jpg);
}

footer p {
	margin-left: 16px;
	margin-top: 3px;
}

.header {
	color: black;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 420px;
}

.author {
	color: black;
	font-size: 9px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 280px;
	margin-top: -10px;
}

.subheader {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: -10px;
	max-width: 420px;
}

.subheader2 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader3 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader4 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader5 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader6 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.body {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -10px;
}

.body2 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -10px;
}

.body3 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -10px;
}

.body4 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -10px;
}

.body5 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -10px;
}

.body6 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -10px;
}

.newsheader {
	color: black;
	font-size: 27px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -17px;
	margin-bottom: -10px;
	text-decoration: none;
}

.article1 {
	background-image:url(../img/article-pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: -5px;
	margin-right: 10px;
	height: 70px;
	width: 110px;
	float:left;
}

p.first{
	color: black;
	font-size: 14px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 600px;
	margin-top: 0px;
	text-decoration: none;
}

p.second{
	color: black;
	font-size: 10px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 400px;
	margin-top: -10px;
	text-decoration: none;
}

.newsseparator {
	position: relative;
    bottom: 0;
	top: -3px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 114px;
	clear: both;
	max-width: 288px;
	min-width: 288px;	
}

.article2 {
	background-image:url(../img/article-pic-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: -5px;
	margin-right: 10px;
	height: 70px;
	width: 110px;
	float:left;
}

p.first2{
	color: black;
	font-size: 14px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 400px;
	margin-top: 0px;
	text-decoration: none;
}

p.second2{
	color: black;
	font-size: 10px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 400px;
	margin-top: -10px;
	text-decoration: none;
}

.headerseparator {
	position: relative;
    bottom: 0;
	top: -15px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: -5px;
	clear: both;
	max-width: 400px;
	min-width: 400px;	
}

header {
	padding: 0;
	width: 100%;
}

header ul {
   color: black;
   font-size: 10px;
   font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
   font-weight: 400;
   text-decoration: none;
   vertical-align: middle;
   margin-left: -40px;
   margin-top: 7px;
   margin-bottom: 7px;
}

nav a,
nav a:link,
nav a:visited {
	display: inline;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: grey;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: 1px; 
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: red;
}

nav .selected {
}

@media only screen and (min-width: 35.7em) {
	
html {
	height: 110%;
	font-size: 100%;
	background-image:url(../img/background-white.jpg);
	background-repeat: repeat;
	background-attachment:fixed;
	background-size: 1300px 900px;
	margin: auto;
 }	
	
.billboard {
	background-image:url(../img/billboard.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: -5px;
	height: 163px;
	width: 570px;
}

.contentintro {
	color: black;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 568px;
	min-width: 568px;
}

.introseparator {
	position: relative;
    bottom: 0;
	top: 0px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: -3px;
	clear: both;
	max-width: 568px;
	min-width: 568px;	
}

.introseparatortop {
	position: relative;
    bottom: 0;
	top: 10px;
    width: 100%;
    height: 10px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: -3px;
	clear: both;
	max-width: 568px;
	margin-top: 10px;
	min-width: 568px;
}

.minwidth {
	min-width:100px;
	width: auto;
	width: 600px;
}

.minwidth2 {
	min-width:100px;
	width: auto;
	width: 600px;
}

.minwidth3 {
	min-width:100px;
	width: auto;
	width: 600px;
}

.minwidth4 {
	min-width:100px;
	width: auto;
	width: 600px;
}

.bucket1 {
	width: 200px;
	height: 200px;
	background: grey;
	margin-top: 20px;
	background-image:url(../img/bucket-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 200px 200px;
}

.bucket2 {
	width: 200px;
	height: 200px;
	background: grey;
	margin-top: 20px;
	margin-left: 164px;
	float:left;
	background-image:url(../img/bucket-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 200px 200px;
}

.bucket3 {
	width: 200px;
	height: 200px;
	background: grey;
	margin-top: 20px;
	background-image:url(../img/bucket-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 200px 200px;
}

.bucket4 {
	width: 200px;
	height: 200px;
	background: grey;
	margin-top: 20px;
	margin-left: 164px;
	margin-bottom: 20px;
	float:left;
	background-image:url(../img/bucket-4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 200px 200px;
}

.foot {
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 19px;
	color: black;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 0px;
	clear: both;
	max-width: 565px;
	background-image:url(../img/background-white.jpg);
}

footer p {
	margin-left: 16px;
	margin-top: 3px;
}

.author {
	color: black;
	font-size: 11px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 280px;
	margin-top: -10px;
}
.header {
	color: black;
	font-size: 21px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 593px;
}

.body {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
}

.body2 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
}

.body3 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
}

.body4 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
}

.body5 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
}

.body6 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
}

.subheader {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: -10px;
	max-width: 420px;
}

.subheader2 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader3 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader4 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: -10px;
	max-width: 420px;
}

.subheader5 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader6 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.article1 {
	background-image:url(../img/article-pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: -5px;
	margin-right: 10px;
	height: 80px;
	width: 130px;
	float:left;
}

p.first{
	color: black;
	font-size: 17px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 600px;
	margin-top: 0px;
	text-decoration: none;
}

p.second{
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 550px;
	margin-top: -15px;
	text-decoration: none;
}

.article2 {
	background-image:url(../img/article-pic-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: -5px;
	margin-right: 10px;
	height: 80px;
	width: 130px;
	float:left;
}

p.first2{
	color: black;
	font-size: 17px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 600px;
	margin-top: 0px;
	text-decoration: none;
}

p.second2{
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 550px;
	margin-top: -15px;
	text-decoration: none;
}

.newsheader {
	color: black;
	font-size: 30px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 390px;
	margin-top: -17px;
	text-decoration: none;
}

.newsseparator {
	position: relative;
    bottom: 0;
	top: -3px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 134px;
	clear: both;
	max-width: 410px;
	min-width: 410px;	
}

.headerseparator {
	position: relative;
    bottom: 0;
	top: -15px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: -5px;
	clear: both;
	max-width: 570px;
	min-width: 570px;	
}

header {
	padding: 0;
	width: 100%;
}

header ul {
   color: black;
   font-size: 12px;
   font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
   font-weight: 400;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 17px;
   margin-top: 7px;
   margin-bottom: 7px;
}

nav a,
nav a:link,
nav a:visited {
	display: inline;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: grey;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: 1px; 
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: red;
}

nav .selected {
}
}

@media only screen and (min-width: 51.6em) {
	
html {
	height: 110%;
	font-size: 100%;
	background-image:url(../img/background-white.jpg);
	background-repeat: repeat;
	background-attachment:fixed;
	background-size: 1300px 900px;
	margin: auto;
 }	
	
.billboard {
	background-image:url(../img/billboard.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 15px;
	height: 235px;
	width: 828px;
}

.contentintro {
	color: black;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 820px;
	min-width: 820px;
}

.introseparator {
	position: relative;
    bottom: 0;
	top: 0px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 15px;
	clear: both;
	max-width: 820px;
	min-width: 820px;	
}

.introseparatortop {
	position: relative;
    bottom: 0;
	top: 10px;
    width: 100%;
    height: 10px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 15px;
	clear: both;
	max-width: 820px;
	margin-top: 10px;
	min-width: 820px;
}

.minwidth {
	min-width:100px;
	width: auto;
	width: 900px;
}

.minwidth2 {
	min-width:100px;
	width: auto;
	width: 900px;
}

.minwidth3 {
	min-width:100px;
	width: auto;
	width: 900px;
}

.minwidth4 {
	min-width:100px;
	width: auto;
	width: 900px;
}

.bucket1 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	margin-left: 15px;
	background-image:url(../img/bucket-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.bucket2 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	float: left;
	margin-left: 70px;
	background-image:url(../img/bucket-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.bucket3 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	margin-left: 70px;
	float: left;
	background-image:url(../img/bucket-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.bucket4 {
	width: 150px;
	height: 150px;
	background: grey;
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom: 50px;
	float: left;
	background-image:url(../img/bucket-4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 150px 150px;
}

.foot {
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 19px;
	color: black;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 15px;
	clear: both;
	max-width: 810px;
	background-image:url(../img/background-white.jpg);
}

footer p {
	margin-left: 16px;
	margin-top: 3px;
}

.header {
	color: black;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 845px;
	margin-top:50px;
}

.author {
	color: black;
	font-size: 11px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 280px;
	margin-top: -10px;
}

.body {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 250px;
	margin-top: -10px;
}

.earthquakes101body {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 250px;
	margin-top: -10px;
}

.body2 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 250px;
}

.body3 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 250px;
}

.body4 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 250px;
	margin-top: -10px;
}

.body5 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 250px;
}

.body6 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 250px;
}

.subheader {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: -10px;
	max-width: 250px;
}

.earthquakes101subheader {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: -10px;
	max-width: 250px;
}

.subheader2 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 250px;
}

.subheader3 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader4 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: -10px;
	max-width: 250px;
}

.subheader5 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader6 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.rowcontainer {
	float: left;
	margin-top: -380px;
	margin-left: 307px;
}

.rowcontainer2 {
	float: left;
	margin-top: -512px;
	margin-left: 595px;
}

.rowcontainer00 {
	float: left;
	margin-top: -300px;
	margin-left: 307px;
}

.earthquakes101rowcontainer00 {
	float: left;
	margin-top: -213px;
	margin-left: 307px;
}

.rowcontainer22 {
	float: left;
	margin-top: -300px;
	margin-left: 595px;
}

.earthquakes101rowcontainer22 {
	float: left;
	margin-top: -347px;
	margin-left: 595px;
}

.rowcontainer33 {
	margin-top: 30px;
}

.earthquakes101rowcontainer33 {
	margin-top: 0px;
}

.rowcontainer44 {
	float: left;
	margin-top: -277px;
	margin-left: 305px;
}

.earthquakes101rowcontainer44 {
	float: left;
	margin-top: -204px;
	margin-left: 305px;
}

.rowcontainer55 {
	float: left;
	margin-top: -298px;
	margin-left: 595px;
}

.earthquakes101rowcontainer55 {
	float: left;
	margin-top: -200px;
	margin-left: 595px;
}

.article1 {
	background-image:url(../img/article-pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 15px;
	margin-right: 10px;
	height: 90px;
	width: 150px;
	float:left;
}

p.first{
	color: black;
	font-size: 18px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 700px;
	margin-top: 0px;
	text-decoration: none;
}

p.second{
	color: black;
	font-size: 13px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 700px;
	margin-top: -15px;
	text-decoration: none;
}

.article2 {
	background-image:url(../img/article-pic-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 15px;
	margin-right: 10px;
	height: 90px;
	width: 150px;
	float:left;
}

p.first2{
	color: black;
	font-size: 18px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 700px;
	margin-top: 0px;
	text-decoration: none;
}

p.second2{
	color: black;
	font-size: 13px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 700px;
	margin-top: -15px;
	text-decoration: none;
}

.newsheader {
	color: black;
	font-size: 30px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 390px;
	margin-top: -17px;
	text-decoration: none;
}

.newsseparator {
	position: relative;
    bottom: 0;
	top: -3px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 174px;
	clear: both;
	max-width: 523px;
	min-width: 523px;	
}

.headerseparator {
	position: relative;
    bottom: 0;
	top: -15px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 15px;
	clear: both;
	max-width: 826px;
	min-width: 826px;	
}

header {
	padding: 0;
	width: 100%;
}

header ul {
   color: black;
   font-size: 12px;
   font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
   font-weight: 400;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 160px;
   margin-top: 7px;
   margin-bottom: 7px;
}

nav a,
nav a:link,
nav a:visited {
	display: inline;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: grey;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: 1px; 
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: red;
}

nav .selected {
}
}

@media only screen and (min-width: 80em) {
	
html {
	height: 110%;
	font-size: 100%;
	background-image:url(../img/background-white.jpg);
	background-repeat: repeat;
	background-attachment:fixed;
	background-size: 1600px 1200px;
	margin: auto;
 }	
	
.billboard {
	background-image:url(../img/billboard.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 15px;
	height: 350px;
	width: 1200px;
}

.contentintro {
	color: black;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 330px;
	max-width: 565px;
	min-width: 565px;
}

.introseparatortop {
	position: relative;
    bottom: 0;
	top: 10px;
    width: 100%;
    height: 10px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 330px;
	clear: both;
	max-width: 565px;
	margin-top: 10px;
	min-width: 565px;
}

.introseparator {
	position: relative;
    bottom: 0;
	top: 0px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 330px;
	clear: both;
	max-width: 565px;
	min-width: 565px;	
}

.minwidth {
	min-width:100px;
	width: auto;
	width: 1100px;
}

.minwidth2 {
	min-width:100px;
	width: auto;
	width: 1100px;
}

.minwidth3 {
	min-width:100px;
	width: auto;
	width: 1100px;
}

.minwidth4 {
	min-width:100px;
	width: auto;
	width: 1100;
}

.bucket1 {
	width: 247px;
	height: 247px;
	background: grey;
	margin-top: 20px;
	background-image:url(../img/bucket-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 247px 247px;
}

.bucket2 {
	width: 247px;
	height: 247px;
	background: grey;
	margin-top: 20px;
	float: left;
	margin-left: 70px;
	background-image:url(../img/bucket-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 247px 247px;
}

.bucket3 {
	width: 247px;
	height: 247px;
	background: grey;
	margin-top: 20px;
	margin-left: 70px;
	background-image:url(../img/bucket-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 247px 247px;
}

.bucket4 {
	width: 247px;
	height: 247px;
	background: grey;
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom: 50px;
	background-image:url(../img/bucket-4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: 247px 247px;
}

.foot {
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 19px;
	color: black;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 15px;
	clear: both;
	max-width: 1198px;
	background-image:url(../img/background-white.jpg);
}

footer p {
	margin-left: 16px;
	margin-top: 3px;
}

.header {
	color: black;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 845px;
	margin-top:50px;
}

.author {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 280px;
	margin-top: -10px;
}

.body {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 360px;
	margin-top: -10px;
}

.body2 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 360px;
}

.body3 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 360px;
}

.body4 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 360px;
	margin-top: -10px;
}

.body5 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 360px;
}

.body6 {
	color: black;
	font-size: 11px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	max-width: 570px;
	margin-top: -10px;
	max-width: 360px;
}

.subheader {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: -10px;
	max-width: 420px;
}

.subheader2 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader3 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader4 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: -10px;
	max-width: 420px;
}

.subheader5 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.subheader6 {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	margin-left: -5px;
	margin-top: 10px;
	max-width: 420px;
}

.rowcontainer {
	float: left;
	margin-top: -270px;
	margin-left: 440px;
}

.rowcontainer2 {
	float: left;
	margin-top: -355px;
	margin-left: 880px;
}

.rowcontainer00 {
	float: left;
	margin-top: -214px;
	margin-left: 440px;
}

.rowcontainer22 {
	float: left;
	margin-top: -215px;
	margin-left: 880px;
}

.rowcontainer33 {
	margin-top: 30px;
	margin-left: 0px;
}

.rowcontainer44 {
	float: left;
	margin-top: -192px;
	margin-left: 440px;
}

.rowcontainer55 {
	float: left;
	margin-top: -212px;
	margin-left: 880px;
}

.article1 {
	background-image:url(../img/article-pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 15px;
	margin-right: 10px;
	height: 100px;
	width: 170px;
	float:left;
}

p.first{
	color: black;
	font-size: 19px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 900px;
	margin-top: 0px;
	text-decoration: none;
}

p.second{
	color: black;
	font-size: 14px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 900px;
	margin-top: -15px;
	text-decoration: none;
}

.article2 {
	background-image:url(../img/article-pic-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 15px;
	margin-right: 10px;
	height: 100px;
	width: 170px;
	float:left;
}

p.first2{
	color: black;
	font-size: 19px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 900px;
	margin-top: 0px;
	text-decoration: none;
}

p.second2{
	color: black;
	font-size: 14px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 400;
	letter-spacing: 0px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 0px;
	max-width: 900px;
	margin-top: -15px;
	text-decoration: none;
}

.newsheader {
	color: black;
	font-size: 40px;
	font-family:'Helvetica Neue', Arial;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 15px;
	max-width: 390px;
	margin-top: -17px;
	text-decoration: none;
}

.newsseparator {
	position: relative;
    bottom: 0;
	top: -3px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 197px;
	clear: both;
	max-width: 680px;
	min-width: 680px;	
}

.headerseparator {
	position: relative;
    bottom: 0;
	top: -23px;
    width: 100%;
    height: 19px;
	color: black;
	border-top:thin;
	border-top-color:black;
	border-top-style:dotted;
	margin-left: 15px;
	clear: both;
	max-width: 1200px;
	min-width: 1200px;	
}

header {
	padding: 0;
	width: 100%;
}

header ul {
   color: black;
   font-size: 15px;
   font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
   font-weight: 400;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 290px;
   margin-top: 7px;
   margin-bottom: 7px;
}

nav a,
nav a:link,
nav a:visited {
	display: inline;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: grey;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: 1px; 
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: red;
}

nav .selected {
}
}



	