<!DOCTYPE HTML>
<html lang="en-ca">
<head>

<meta charset="UTF-8">
    <title>Earthquakes</title>
    <!-- Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Earthquakes">
    <meta property="og:url" content="http://nick88999.github.io/large-data-website">
    <!-- Image size: minimum 200x200; recommended 1500x1500 -->
    <meta property="og:image" content="http://nick88999.github.io/large-data-website/img/earth.jpg">
    <meta property="og:description" content="A website with lots of interesting and useful information about earthquakes">
    <meta property="og:site_name" content="Earthquakes">
    <!-- Twitter -->
    <meta property="twitter:card" content="A website about earthquakes">
    <meta property="twitter:title" content="Earthquakes">
    <meta property="twitter:url" content="http://nick88999.github.io/large-data-website/">
    <!-- Image size: 120x120 -->
    <meta property="twitter:image" content="http://nick88999.github.io/large-data-website/img/earth.jpg">
    <meta property="twitter:description" content="A website with lots of interesting and useful information about earthquakes">
    
<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/styles.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/modernizr.custom.86596.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=devicedpi">
</head>
<body>

<ul class="skiplinks">
        <li><a href="#main">Skip to main content</a></li>
        <li><a href="#primenav">Skip to primary navigation</a></li>
</ul>

<header role="banner" class="billboard" id="top"></header>
        
<div id="main"> {{content}} </div>

<div class="foot">   
	<footer role="contentinfo">
        
    	<p><a href="#top">Top</a> © 2013 Nick Appolon. All right reserved. Please do not reproduce without the expressed written consent of Nick Appolon. </p>
    </footer>
</div>

</body>
</html>